<div class="container">
    <button mat-raised-button color="primary" class="item">First</button>
    <button mat-raised-button color="primary" class="item">Second</button>
    <button mat-raised-button color="primary" class="item">Third</button>
    <button mat-raised-button color="primary" class="item">Fourth</button>
    <button mat-raised-button color="primary" class="item">Fifth</button>
    <button mat-raised-button color="primary" class="item">Sixth</button>
    <button mat-raised-button color="primary" class="item">Seventh</button>
</div>
